$black-primary: #141414;
$black-secondary: #080808;

.genre-list {
  padding-bottom: 3rem;
  border-bottom: 1px solid $black-secondary;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  align-items: stretch;
  justify-items: stretch;

  &__item:link,
  &__item:visited {
    text-decoration: none;
    font-size: 2rem;
    color: #6e0b0b;
    transition: all 0.6s;
  }

  &__item:hover,
  &__item:active {
    color: #6e0b0b;
    transform: translateY(-3px);
    border-bottom: 1px solid #6e0b0b;
  }
}
