.movie-modal {
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  &__image {
    height: 30vw;
    width: auto;
    object-fit: contain;
  }

  &__details {
    // border: 1px solid #831010;
    // height: 30vw;
    max-width: 65ch;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &--title {
      margin-bottom: 2rem;
    }

    & > h4 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }
}

.btn-container {
  margin-top: 2rem;
  align-self: center;
}
